/* Form.module.css */

/* Estilos para el contenedor del formulario */
.formContainer {
  display: flex;
  flex-direction: row; /* Cambiado a fila para que los elementos estén uno al lado del otro */
  justify-content: space-between; /* Espacio entre los elementos */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #333333a9;
  backdrop-filter: blur(8px);
  margin: 60px auto auto auto;
  max-width: 480px;

}

/* Estilos para el formulario */
.form {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
}

/* Estilos para cada sección del formulario */
.formSection {
  margin-bottom: 20px;
}

/* Estilos para la caja de tipos de Pokémon */
.typeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end; /* Alineación a la derecha */
}

/* Estilos para cada elemento de tipo */
.typeItem {
  display: flex;
  align-items: center;
}

.error {
  color: #f56055;
}

/* Añade el resto de tus estilos... */
