/* Estilos para la tarjeta (card) */
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #333333a9;
    backdrop-filter: blur(8px)
  }
  
  /* Estilos para la imagen grande */
  .largeImage {
    width: 100%; /* Aumenta el tamaño de la imagen al 200% si el ID es un número */
  }
  
  /* Estilos para las filas (row) de contenido */
  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

 /* Estilos para centrar los elementos h2 horizontalmente y agregar espacio horizontal */
.centered {
    text-align: center; /* Centra horizontalmente el texto */
    margin-left: 20px; /* Agrega espacio horizontal izquierdo */
    margin-right: 20px; /* Agrega espacio horizontal derecho */
  }
  
  /* Estilos para las filas con espaciado vertical y ajuste de contenido */
  .spaced {
    margin-bottom: 10px; /* Espaciado vertical entre las filas */
    overflow-wrap: break-word; /* Permite que el texto largo se ajuste automáticamente */
  }

  .hp {
    color: #65bd5c
  }

  .attack {
    color: #f6de52
  }

  .defense {
    color: #ec8023
  }

  .spattack {
    color: #61addf
  }

  .spdefense {
    
    color: #8e68ad
  }

  .speed{
    color: #d572ad
  }

  .normal {
    background-color: #A8A77A;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .fire {
    background-color: #EE8130;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .water {
    background-color: #6390F0;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .electric {
    background-color: #F7D02C;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .grass {
    background-color: #7AC74C;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .ice {
    background-color: #96D9D6;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .fighting {
    background-color: #C22E28;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .poison {
    background-color: #A33EA1;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .ground {
    background-color: #E2BF65;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .flying {
    background-color: #A98FF3;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .psychic {
    background-color: #F95587;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .bug {
    background-color: #A6B91A;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .rock {
    background-color: #B6A136;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .ghost {
    background-color: #735797;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .dragon {
    background-color: #6F35FC;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .dark {
    background-color: #705746;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .steel {
    background-color: #B7B7CE;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .fairy {
    background-color: #D685AD;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

