/* Establece una imagen de fondo que cubra toda la pantalla */
body {
    background-image: url('../../assets/rayquaza_wallpaper.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #333333a9;
    backdrop-filter: blur(8px);
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 800px;
}

.image {
    max-width: 1000px;
    max-height: 500px;
    margin: 0 auto;
}


/* Agrega la propiedad background-position solo cuando el ancho de la pantalla sea menor o igual a 768px (puedes ajustar este valor según tus necesidades) */
@media (max-width: 768px) {
    body {
        background-position: center;
    }
}